body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f7fa;
    color: #676767;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: rgb(51, 51, 202);
    color: #fff;
    transition: width 0.5s;
}

.sidebar-header {
    padding: 20px;
    background-color: #1e2d3b;
    text-align: center;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background 0.3s, padding-left 0.3s;
}

.nav a:hover {
    background: #1e2d3b;
    padding-left: 30px;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.dashboard-actions {
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.dashboard-actions .logout-button:hover {
    background-color: #c9302c;
}

.dashboard-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.stat-item {
    flex-basis: calc(25% - 20px);
    color: white;
    padding: 20px;
    border-radius: 4px;
    transition: transform 0.3s;
}

.stat-item:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

@media (max-width: 768px) {
    .sidebar {
        width: 60px;
    }

    .sidebar-header {
        display: none;
    }

    .nav a {
        text-align: center;
        padding-left: 0;
    }

    .nav a:hover {
        padding-left: 0;
    }

    .main-content {
        margin-left: 60px;
    }

    .stat-item {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }

    .main-content {
        margin: 0;
    }

    .stat-item {
        flex-basis: 100%;
    }
}


